body {
    height: 100%;
    width: 100%;
    background-image: url(../images/steam.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.display-4 {
    font-size: 80px;
}

.jumbotron {
    background-color: rgba(182, 175, 113, 0.37);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    margin: 0 40px 30px 40px;
}

.card {
    background-color: rgba(182, 175, 113, 0.678);
    margin: 20px 40px 30px 40px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.form-control {

}

.displayAlign {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }